.pageNo:hover {
    background-color: #A03037;
}

.buttonFocus:focus {
    background-color: #A03037;
}

.pagination-nav {
    margin: 0 20px;
    margin-top: -40px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
}

.pagination {
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

@media all and (max-width: 2000px) {
    .pageNo:hover {
        background-color: #A03037;
    }
    .buttonFocus:focus {
        background-color: #A03037;
    }
}