.loginpage {
    margin-left: 12%;
    width: 300px;
    height: 420px;
}

.login {
    margin-top: 8%;
    margin-left: 37%;
    color: red;
    width: 25%;
    height: 8%;
}

img {
    border-radius: 40%;
}

.usernameLogin {
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-color: #A03037;
}

.button {
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 20px;
    width: 100%;
}

.paragraph {
    margin-left: 55px;
    font-size: 20px;
    font-weight: 490;
    letter-spacing: .1px;
    line-height: 1.5;
}

.signInLogin {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 35%;
    font-size: 24px;
    font-weight: 520;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
}

.password {
    margin-top: 4%;
    height: 35;
}

.flex-container {
    display: flex;
    margin-right: 60%;
}

.flex-container>div {
    margin-top: 20px;
    margin-right: 80%;
}

.middle {
    display: flex;
    align-content: center;
    margin-left: 10%;
}

.Forget {
    margin-left: 46%;
}

.registertitle {
    cursor: 'pointer';
}