@media only screen and (min-width: 650px) {
    .successDiv {
        width: 70%;
        margin: 0 10%;
        padding: 5%;
        padding-top: 70px;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 650px) {
    .successDiv {
        padding-top: 70px;
        width: 80%;
        margin: 0 10%;
        padding: 5%;
        margin-top: 40px;
    }
}

.successImg {
    height: 190px;
    width: 20%;
    align-items: center;
    padding-left: 22.5%;
    padding-right: 37.5%;
    position: absolute;
    z-index: -1;
}


/* .successH3{
    background-color: white;
    margin-top: 125px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
} */

.paragraph {
    margin-top: 223px;
    margin-left: -5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-bottom: 0px;
    text-align: center;
}

table {
    border: 1px solid #E8E8E8;
    padding: 1% 3%;
    overflow: hidden;
    text-overflow: ellipsis;
}

td {
    border: 1px solid #b9b5b5;
    padding: 1% 1%;
    overflow: hidden;
    font-weight: 300;
    font-size: 12px;
}

th {
    background-color: rgb(146, 141, 141);
    padding: 1% 3%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: 15px;
}

@media only screen and (min-width: 650px) {
    table {
        border-collapse: collapse;
        width: 90%;
        margin: 5%;
    }
}

@media only screen and (max-width: 650px) {
    table,
    td {
        border-collapse: collapse;
        width: 98%;
        margin: 1% 0;
        font-size: 10px;
    }
}

td {
    height: 50px;
    max-width: 33%;
    vertical-align: middle;
}

.orderSuccessfullButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: flex-end;
}