.resetpasswordpage {
    margin-left: 10%;
}

.reset {
    margin-top: 60px;
    margin-left: 550px;
    width: 450px;
    height: 380px;
}

.resetpassword {
    margin-top: 6%;
    font-size: 20px;
    margin-left: 95px;
    font-size: 24px;
    ;
    font-weight: 520;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
}

.passwordtext {
    margin-top: 10px;
    margin-left: 50px;
}

.confirmpasswordtext {
    margin-top: 10px;
    margin-left: 50px;
}

.nextbutton {
    margin-left: 55%;
}